h1{
  color: aliceblue;
}

p{
  color: rgba(240, 248, 255, 0.74);
}

.main-heading{
  font-size: 3rem;
  text-align: center;
}

.card{
  max-width: 350px;
  /* border: 2px solid grey; */
  background-color: #011627;
  padding: 12px;
  border-radius: 12px;
  margin-top: 10px;
  box-shadow: 4px 4px 10px ;
}

.card-img{
  width: 100%;
  border-radius: 10px;
}

.flex{
  display: flex;
  justify-content: center;
  gap: 20px;
}


